#include "resource.h"
#include <winresrc.h>

IDD_PREFERENCES DIALOGEX 0, 0, 320, 258
STYLE DS_SETFONT | WS_CHILD
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
    LTEXT           "Cover filename:", IDC_STATIC_FILENAME, 7, 10, 70, 8
    EDITTEXT        IDC_SAVE_FILENAME, 80, 8, 110, 14, ES_AUTOHSCROLL
    LTEXT           "Back cover filename:", IDC_STATIC_BACK_FILENAME, 7, 28, 70, 8
    EDITTEXT        IDC_BACK_COVER_FILENAME, 80, 26, 110, 14, ES_AUTOHSCROLL
    LTEXT           "Artist image:", IDC_STATIC_ARTIST_FILENAME, 7, 46, 70, 8
    EDITTEXT        IDC_ARTIST_IMAGE_FILENAME, 80, 44, 110, 14, ES_AUTOHSCROLL
    LTEXT           "Save format:", IDC_STATIC_FORMAT, 7, 64, 60, 8
    COMBOBOX        IDC_SAVE_FORMAT, 70, 62, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT           "Overwrite:", -1, 7, 82, 60, 8
    COMBOBOX        IDC_OVERWRITE_BEHAVIOR, 70, 80, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT           "JPEG quality:", IDC_STATIC_QUALITY, 7, 100, 60, 8
    EDITTEXT        IDC_JPEG_QUALITY, 70, 98, 30, 14, ES_NUMBER
    LTEXT           "Max results/API:", IDC_STATIC_MAXRESULTS, 7, 118, 60, 8
    EDITTEXT        IDC_MAX_RESULTS, 70, 116, 30, 14, ES_NUMBER
    LTEXT           "Timeout (sec):", IDC_STATIC_TIMEOUT, 7, 136, 60, 8
    EDITTEXT        IDC_REQUEST_TIMEOUT, 70, 134, 30, 14, ES_NUMBER
    CONTROL         "Include back covers in results", IDC_INCLUDE_BACK_COVERS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 154, 180, 10
    CONTROL         "Include artist images in results", IDC_INCLUDE_ARTIST_IMAGES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 172, 180, 10
END
